@import "~common/styles/variables";

.ortovis-footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  background-color: $gray;
  color: #888;
  margin-top: 80px;
  text-align: center;

  font-size: 14px;
  padding: 30px;
  p {
      margin: 0;
  }
}
