@import "variables";

#footer {
    // background-color: $dark-grey;
    color: #888;
    margin-top: 80px;
    text-align: center;

    font-size: 14px;
    padding: 30px;
    p {
        margin: 0;
    }
}
