@import "variables";

.ortovis-container {
  padding: 25px;
  img {
    display: block;
    margin: auto;
  }

  &--text-center {
    text-align: center;
  }
  &--inverse {
    background-color: $gray-lighter;
  }
}
