$font-stack: 'Century Gothic', Helvetica, sans-serif;
$primary-color: #aa293c;
$hover-color: #99111c;
$dark-grey: #535353;
$light-grey: #eee;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin border-shadow($h-shadow, $v-shadow, $blur, $spread, $color ){
  -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color;
     -moz-box-shadow: $h-shadow $v-shadow $blur $spread $color;
      -ms-box-shadow: $h-shadow $v-shadow $blur $spread $color;
          box-shadow: $h-shadow $v-shadow $blur $spread $color;
}
@mixin opacity($opacity){
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$opacity+")";
            filter: alpha(opacity=$opacity);
      -moz-opacity: $opacity;
    -khtml-opacity: $opacity;
           opacity: $opacity;
}
@mixin rotate($deg){
            transform:rotate($deg);
    -webkit-transform:rotate($deg);
       -moz-transform:rotate($deg);
         -o-transform:rotate($deg);
}
@mixin grayscale($per){
     -webkit-filter: grayscale($per);
        -moz-filter: grayscale($per);
          -o-filter: grayscale($per);
         -ms-filter: grayscale($per);
             filter: grayscale($per);
}
