@import "variables";

.ortovis-menu {
  $brand-primary--dark: darken($brand-primary, 5%);

  background-color: $brand-primary;
  padding: 0px;

  border-bottom: 7px solid $brand-primary--dark;

  ul li {
    margin: 0;
  }
  &__item {
    padding: 10px 10px 5px 10px;
  }
  &__item:hover, &__item--active {
    background-color: $brand-primary--dark;
  }
  &__item > a {
    padding-top: 25px;

    &:link, &:hover, &:visited, &:active {
      color: #fff;
    }
  }
}
