<!DOCTYPE html>
<div class="ortovis-container p-b-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <img src="./images/doctor.png" class="img-fluid">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <p class="ortovis-heading ortovis-heading__lead">Gabinet stomatologiczno-ortodontyczny Orto-Vis świadczy najwyższej jakości usługi dentystyczne:</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check"></i>scanning</li>
          <li><i class="fa-li fa fa-check"></i>piaskowanie</li>
          <li><i class="fa-li fa fa-check"></i>fluoryzacja</li>
          <li><i class="fa-li fa fa-check"></i>stomatologia estetyczna</li>
          <li><i class="fa-li fa fa-check"></i>leczenie ortodontyczne aparatami stałymi oraz ruchomymi</li>
          <li><i class="fa-li fa fa-check"></i>korony na bazie cyrkony, pełnoceramiczne, licówki i mosty</li>
          <li><i class="fa-li fa fa-check"></i>wybielanie zębów metodą nakładkową i jednowizytową</li>
          <li><i class="fa-li fa fa-check"></i>lakowanie zębów</li>
          <li><i class="fa-li fa fa-check"></i>i wiele innych</li>
        </ul>
      </div>
    </div>
  </div>
