<!DOCTYPE html>
<div id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <img src="/assets/images/pracownik.jpg" class="img-responsive">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 service">
        <p class="smallHeader">Gabinet stomatologiczno-ortodontyczny Orto-Vis świadczy najwyższej jakości usługi dentystyczne:</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>scanning</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>piaskowanie</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>fluoryzacja</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>stomatologia estetyczna</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>leczenie ortodontyczne aparatami stałymi oraz ruchomymi</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>korony na bazie cyrkony, pełnoceramiczne, licówki i mosty</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>wybielanie zębów metodą nakładkową i jednowizytową</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>lakowanie zębów</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>i wiele innych</p>
      </div>
    </div>
  </div>
</div>
