<!DOCTYPE html>
<div class="ortovis-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <img src="/assets/images/pracownik.jpg" class="img-fluid">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <p class="ortovis-heading ortovis-heading__lead">Gabinet stomatologiczno-ortodontyczny Orto-Vis świadczy najwyższej jakości usługi dentystyczne:</p>
        <ul>
          <li>scanning</li>
          <li>piaskowanie</li>
          <li>fluoryzacja</li>
          <li>stomatologia estetyczna</li>
          <li>leczenie ortodontyczne aparatami stałymi oraz ruchomymi</li>
          <li>korony na bazie cyrkony, pełnoceramiczne, licówki i mosty</li>
          <li>wybielanie zębów metodą nakładkową i jednowizytową</li>
          <li>lakowanie zębów</li>
          <li>i wiele innych</li>
        </ul>
      </div>
    </div>
  </div>
