<!DOCTYPE html>
<div class="ortovis-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <p class="ortovis-heading ortovis-heading__title">Kontakt</p>
        <p>Gabinet stomatologiczno - ortodontyczny</p>
        <hr>
        <p>ul. Kościuszki 48</p>
        <p>90-427 Łódź</p>
        <hr>
        <p>Tel.: 426497671</p>
        <p>Tel.2: 882-007-546</p>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.3131477266347!2d19.4552076!3d51.763882200000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471a352aa18dca9d%3A0x2ec2722733bb8060!2zS2_Fm2NpdXN6a2kgNDgsIMWBw7Nkxbo!5e0!3m2!1spl!2spl!4v1433931151560"
        width="100%" height="350" frameborder="0"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="ortovis-heading ortovis-heading__title">Mapa placówki Orto-Vis</p>
        <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m0!3m2!1spl!2spl!4v1434012559941!6m8!1m7!1sa0a_oFpykdMAAAQfDSuqcw!2m2!1d51.763925!2d19.455108!3f17.27!4f0!5f0.7820865974627469" width="100%" height="450" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
