<!DOCTYPE html>
<div class="ortovis-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="ortovis-heading ortovis-heading__title">Serdecznie witamy</p>
        <p class="ortovis-heading ortovis-heading__lead">zapraszamy do gabinetu Orto-Vis przy ul. Kościuszki 48</p>
        <p>
          Od prawie 20 lat dbamy o Państwa uśmiech zarówno ortodontycznie, protetycznie jak i stomatologicznie. Nasze gabinety wyposażone są w sprzęt diagnostyczno-radiologiczny najnowszej generacji. Nad pacjentami czuwa trzech lekarzy: ortodonta, protetyk zajmujący
          się stomatologią estetyczną, współpracujący z implantologiem oraz chirurg szczękowy. Naszym celem jest zapewnienie Państwu kompleksowej opieki i najwyższej jakości usług.
          <br/>
          <br/> Gabinet stomatologiczno-ortodontyczny Orto-Vis cieszy się opinią jednego z najlepszych gabinetów w Łodzi a także, bardzo dobrą opinią wśród pacjentów w Polsce jak i w całej Europie. Profesjonalnie przeprowadzane zabiegi oraz wyspecjalizowany
          personel sprawiają, że wizyty w gabinecie Orto-Vis zmieniają panujące u Pacjentów przekonanie o bolesnym leczeniu zębów oraz pozwalają pozbyć się strachu przed dentystą.
          <br/>
          <br/>
          <br/> Już podczas pierwszej konsultacji nasi Pacjenci informowani są szczegółowo o przebiegu planowanego leczenia. Najwyższej klasy sprzęt stomatologiczny oraz cyfrowy zestaw do wykonywania zdjęć RTG, posiadające certyfikaty Unii Europejskiej używane
          podczas zabiegów, pozwalają zachować najwyższą jakość przeprowadzanych usług. Gabinet jest przystosowany do przyjmowania pacjentów niepełnosprawnych.
        </p>
      </div>
    </div>
  </div>
</div>
