@import "variables";

.ortovis-heading {
  &__title {
    color: $brand-primary;
    font-size: 26px;
    font-weight: bold;
  }
  &__lead {
    color: $gray;
    font-size: 21px;
    font-weight: bold;
  }
}

.ortovis-lead {
  font-size: 18px;
}
