@import "variables";

ul li>i {
  color: $brand-primary;
}

.ortovis-container {
  padding: 25px;
  img {
    display: block;
    margin: auto;
  }
  &--text-center {
    text-align: center;
  }
  &--inverse {
    background-color: $gray-lighter;
  }
}

.ortovis-container-heading {
  padding: 15px;
  &--text-center {
    text-align: center;
  }
  &--inverse {
    background-color: darken($gray-lighter, 5%);
  }
}

.ortovis-content {
  padding: 25px 0;
  animation: fadeIn 0.5s;
}

.panel-group {
  .separator {
    height: 10px;
    width: 100%;
  }
  .panel {
    background-color: #fff;
    border: 1px solid #ddd;
    .panel-heading {
      background-color: #eee;
      color: #333;
      text-decoration: none;
      padding: 15px;
      a {
        color: #333;
      }
      &:hover {
        background-color: #e6e6e6;
        cursor: pointer;
        a {
          color: #99111c;
          text-decoration: none;
        }
      }
    }
    .panel-collapse {
      padding: 20px;
    }
  }
}
.separator {
  height: 20px;
  width: 100%;
}
