<!DOCTYPE html>
<div id="officehours" class="ortovis-container ortovis-container--text-center">
  <p class="ortovis-heading ortovis-heading__title">Godziny przyjęć:</p>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <p>Poniedziałek:
        <br>
        <span class="bold">10:00 - 18:00</span>
      </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <p>Wtorek:
        <br>
        <span class="bold">10:00 - 18:00</span>
      </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <p>Środa:
        <br>
        <span class="bold">10:00 - 18:00</span>
      </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <p>Czwartek:
        <br>
        <span class="bold">10:00 - 18:00</span>
      </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <p>Piątek:
        <br>
        <span class="bold">10:00 - 18:00</span>
      </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2">
      <p>Sobota, Niedziela:
        <br>
        <span class="bold">NIECZYNNE</span>
      </p>
    </div>
  </div>
</div>
