<!DOCTYPE html>
<div id="firstVisit">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="bigHeader">Pierwsza wizyta</p>
        <p class="content">Pierwsza wizyta jest wizytą konsultacyjną, na której robione są zdjęcia wewnątrzustne, modele ortodontyczne orientacyjne, zdjęcia RTG, pantomograficzne oraz telemetryczne boczne czaszki (jeśli są wskazania). Następnie omawiany jest plan leczenia
          ortodontycznego z uwzględnieniem potrzeb i oczekiwań pacjenta.</p>
      </div>
    </div>
  </div>
</div>
