<!DOCTYPE html>
<div class="ortovis-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="ortovis-heading ortovis-heading__title">Pierwsza wizyta</p>
        <p>
          Pierwsza wizyta jest wizytą konsultacyjną, na której robione są zdjęcia wewnątrzustne, modele ortodontyczne orientacyjne, zdjęcia RTG, pantomograficzne oraz telemetryczne boczne czaszki (jeśli są wskazania). Następnie omawiany jest plan leczenia ortodontycznego
          z uwzględnieniem potrzeb i oczekiwań pacjenta.
        </p>
      </div>
    </div>
  </div>
</div>
