<!DOCTYPE html>
<div id="specialists">
  <p class="header">NASI SPECJALIŚCI</p>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img class="img-responsive img-circle" src="/assets/images/profile.jpg">
        <p class="title">Ortodoncja:</p>
        <p class="content">dr Magdalena Dudkiewicz II st. specjalizacji Ortodoncji</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img class="img-responsive img-circle" src="/assets/images/profile.jpg">
        <p class="title">Protetyka:</p>
        <p class="content">dr n. med. Sławomir Pąsiek II st. specjalizacji Protetyka</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img class="img-responsive img-circle" src="/assets/images/profile.jpg">
        <p class="title">Ortodoncja:</p>
        <p class="content">dr n .med. Katarzyna Krawczyk</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img class="img-responsive img-circle" src="/assets/images/profile.jpg">
        <p class="title">Chirurg</p>
        <p class="content">dr Krzysztof Bąkała</p>
      </div>
    </div>
  </div>
</div>
