<!DOCTYPE html>
<div class="ortovis-container text-xs-center">
  <p class="ortovis-heading ortovis-heading__title text-uppercase">Nasi specjaliści</p>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img class="img-responsive img-circle" src="/assets/images/profile.jpg">
        <p class="ortovis-heading ortovis-heading__lead">Ortodoncja:</p>
        <p>dr Magdalena Dudkiewicz II st. specjalizacji Ortodoncji</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img class="img-responsive img-circle" src="/assets/images/profile.jpg">
        <p class="ortovis-heading ortovis-heading__lead">Protetyka:</p>
        <p>dr n. med. Sławomir Pąsiek II st. specjalizacji Protetyka</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img class="img-responsive img-circle" src="/assets/images/profile.jpg">
        <p class="ortovis-heading ortovis-heading__lead">Ortodoncja:</p>
        <p>dr n .med. Katarzyna Krawczyk</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img class="img-responsive img-circle" src="/assets/images/profile.jpg">
        <p class="ortovis-heading ortovis-heading__lead">Chirurg</p>
        <p>dr Krzysztof Bąkała</p>
      </div>
    </div>
  </div>
</div>
