<!DOCTYPE html>
<div class="ortovis-container-heading ortovis-container-heading--inverse ortovis-container-heading--text-center">
  <span class="ortovis-heading ortovis-heading__title">Nasi specjaliści</span>
</div>
<div class="ortovis-container ortovis-container--inverse ortovis-container--text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <img class="img-fluid img-circle" src="./images/specialists/magdalena_dudkiewicz.png">
        <p class="ortovis-heading ortovis-heading__lead">Ortodoncja</p>
        <p>dr Magdalena Dudkiewicz II st. specjalizacji Ortodoncji</p>
         <div class="separator"></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <img class="img-fluid img-circle" src="./images/specialists/katarzyna_krawczyk.png">
        <p class="ortovis-heading ortovis-heading__lead">Ortodoncja</p>
        <p>dr n .med. Katarzyna Krawczyk</p>
         <div class="separator"></div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="ortovis-heading ortovis-heading__lead">Protetyka</p>
        <p>dr n. med. Sławomir Pąsiek II st. specjalizacji Protetyka</p>
         <div class="separator"></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="ortovis-heading ortovis-heading__lead">Chirurg</p>
        <p>dr Krzysztof Bąkała</p>
         <div class="separator"></div>
      </div>
    </div>
  </div>
</div>
