<!DOCTYPE html>
<div class="ortovis-content">
  <div style="margin-top:-25px" class="ortovis-container-heading ortovis-container-heading--inverse ortovis-container-heading--text-center">
    <span class="ortovis-heading ortovis-heading__title">Certyfikaty</span>
  </div>

  <div class="ortovis-certificates ortovis-curtain">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-left">
            <img class="ortovis-certificates__image" src="./images/certificates/1.jpg" data-toggle="modal" data-target="#1" />
          </div>
          <div class="pull-left">
            <img class="ortovis-certificates__image" src="./images/certificates/2.jpg" data-toggle="modal" data-target="#2" />
          </div>
          <div class="pull-left">
            <img class="ortovis-certificates__image" src="./images/certificates/3.jpg" data-toggle="modal" data-target="#3" />
          </div>
          <div class="pull-left">
            <img class="ortovis-certificates__image" src="./images/certificates/4.jpg" data-toggle="modal" data-target="#4" />
          </div>
          <div class="pull-left">
            <img class="ortovis-certificates__image" src="./images/certificates/5.jpg" data-toggle="modal" data-target="#5" />
          </div>
          <div class="pull-left">
            <img class="ortovis-certificates__image" src="./images/certificates/6.jpg" data-toggle="modal" data-target="#6" />
          </div>
          <div class="pull-left">
            <img class="ortovis-certificates__image" src="./images/certificates/7.jpg" data-toggle="modal" data-target="#7" />
          </div>
          <div class="pull-left">
            <img class="ortovis-certificates__image" src="./images/certificates/8.jpg" data-toggle="modal" data-target="#8" />
          </div>
          <div class="pull-left">
            <img class="ortovis-certificates__image" src="./images/certificates/9.jpg" data-toggle="modal" data-target="#9" />
          </div>
          <div class="pull-left">
            <img class="ortovis-certificates__image" src="./images/certificates/10.jpg" data-toggle="modal" data-target="#10" />
          </div>
          <div class="pull-left">
            <img class="ortovis-certificates__image" src="./images/certificates/11.jpg" data-toggle="modal" data-target="#11" />
          </div>
          <div class="pull-left">
            <img class="ortovis-certificates__image" src="./images/certificates/12.jpg" data-toggle="modal" data-target="#12" />
          </div>
          <div class="pull-left">
            <img class="ortovis-certificates__image" src="./images/certificates/13.jpg" data-toggle="modal" data-target="#13" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ortovis-certificates-modal modal fade" id="1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="ortovis-certificates-modal__dialog modal-dialog" role="document">
    <img class="ortovis-certificates-modal__image" src="./images/certificates/1.jpg" />
  </div>
</div>

<div class="ortovis-certificates-modal modal fade" id="2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="ortovis-certificates-modal__dialog modal-dialog" role="document">
    <img class="ortovis-certificates-modal__image" src="./images/certificates/2.jpg" />
  </div>
</div>

<div class="ortovis-certificates-modal modal fade" id="3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="ortovis-certificates-modal__dialog modal-dialog" role="document">
    <img class="ortovis-certificates-modal__image" src="./images/certificates/3.jpg" />
  </div>
</div>

<div class="ortovis-certificates-modal modal fade" id="4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="ortovis-certificates-modal__dialog modal-dialog" role="document">
    <img class="ortovis-certificates-modal__image" src="./images/certificates/4.jpg" />
  </div>
</div>

<div class="ortovis-certificates-modal modal fade" id="5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="ortovis-certificates-modal__dialog modal-dialog" role="document">
    <img class="ortovis-certificates-modal__image" src="./images/certificates/5.jpg" />
  </div>
</div>

<div class="ortovis-certificates-modal modal fade" id="6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="ortovis-certificates-modal__dialog modal-dialog" role="document">
    <img class="ortovis-certificates-modal__image" src="./images/certificates/6.jpg" />
  </div>
</div>

<div class="ortovis-certificates-modal modal fade" id="7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="ortovis-certificates-modal__dialog modal-dialog" role="document">
    <img class="ortovis-certificates-modal__image" src="./images/certificates/7.jpg" />
  </div>
</div>

<div class="ortovis-certificates-modal modal fade" id="8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="ortovis-certificates-modal__dialog modal-dialog" role="document">
    <img class="ortovis-certificates-modal__image" src="./images/certificates/8.jpg" />
  </div>
</div>

<div class="ortovis-certificates-modal modal fade" id="9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="ortovis-certificates-modal__dialog modal-dialog" role="document">
    <img class="ortovis-certificates-modal__image" src="./images/certificates/9.jpg" />
  </div>
</div>

<div class="ortovis-certificates-modal modal fade" id="10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="ortovis-certificates-modal__dialog modal-dialog" role="document">
    <img class="ortovis-certificates-modal__image" src="./images/certificates/10.jpg" />
  </div>
</div>

<div class="ortovis-certificates-modal modal fade" id="11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="ortovis-certificates-modal__dialog modal-dialog" role="document">
    <img class="ortovis-certificates-modal__image" src="./images/certificates/11.jpg" />
  </div>
</div>

<div class="ortovis-certificates-modal modal fade" id="12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="ortovis-certificates-modal__dialog modal-dialog" role="document">
    <img class="ortovis-certificates-modal__image" src="./images/certificates/12.jpg" />
  </div>
</div>

<div class="ortovis-certificates-modal modal fade" id="13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="ortovis-certificates-modal__dialog modal-dialog" role="document">
    <img class="ortovis-certificates-modal__image" src="./images/certificates/13.jpg" />
  </div>
</div>
