<!DOCTYPE html>

<main-carosuel></main-carosuel>

<!-- *********************************************************************************************************** WELCOME-->
<div id="welcome">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="bigHeader">Serdecznie witamy</p>
        <p class="smallHeader">zapraszamy do gabinetu Orto-Vis przy ul. Kościuszki 48</p>
        <p class="content">Od prawie 20 lat dbamy o państwa uśmiech stomatologicznie, protetycznie i ortodontycznie. Gabinety wyposażone są w sprzęt diagnostyczno-radiologiczny najnowszej generacji. Nad pacjentami czuwa trzech lekarzy: ortodonta i protetyk od stomatologii
          estetycznej, współpracujący z implantologiem oraz chirurg. Naszym celem jest zapewnienie państwu kompleksowej opieki.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top_margin">
        <a href="http://www.znanylekarz.pl/magdalena-dudkiewicz/ortodonta/lodz">
          <img class="alignnone size-full wp-image-188" src="/assets/images/znany-lekarz.png" alt="logo-small-white-pl" height="20">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
        <p class="hours">Godziny przyjęć:</p>
        <p class="smallHeader"> Poniedziałek - Piątek: 10:00 - 18:00</p>
        <hr>
      </div>
    </div>

  </div>
</div>

<!-- ***********************************************************************************************************SERVICES-IMG-->
<div id="services-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img class="img-responsive img-circle" src="/assets/images/ortodoncja_2.png">
        <p class="title">ORTODONCJA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img class="img-responsive img-circle" src="/assets/images/protetyka_2.png">
        <p class="title">PROTETYKA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img class="img-responsive img-circle" src="/assets/images/stomatologia_2.png">
        <p class="title">STOMATOLOGIA</p>
      </div>
    </div>
  </div>
</div>

<!-- ***********************************************************************************************************SERVICES-->
<div id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <img src="/assets/images/pracownik.jpg" class="img-responsive">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 service">
        <p class="smallHeader">Gabinet stomatologiczno-ortodontyczny Orto-Vis świadczy najwyższej jakości usługi dentystyczne:</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>scanning</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>piaskowanie</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>fluoryzacja</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>stomatologia estetyczna</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>leczenie ortodontyczne aparatami stałymi oraz ruchomymi</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>korony na bazie cyrkony, pełnoceramiczne, licówki i mosty</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>wybielanie zębów metodą nakładkową i jednowizytową</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>lakowanie zębów</p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>i wiele innych</p>
      </div>
    </div>
  </div>
</div>

<!-- *********************************************************************************************************** SEPCIALISTS-->
<div id="specialists">
  <p class="header">NASI SPECJALIŚCI</p>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img class="img-responsive img-circle" src="/assets/images/profile.jpg">
        <p class="title">Ortodoncja:</p>
        <p class="content">dr Magdalena Dudkiewicz II st. specjalizacji Ortodoncji</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img class="img-responsive img-circle" src="/assets/images/profile.jpg">
        <p class="title">Protetyka:</p>
        <p class="content">dr n. med. Sławomir Pąsiek II st. specjalizacji Protetyka</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img class="img-responsive img-circle" src="/assets/images/profile.jpg">
        <p class="title">Ortodoncja:</p>
        <p class="content">dr n .med. Katarzyna Krawczyk</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img class="img-responsive img-circle" src="/assets/images/profile.jpg">
        <p class="title">Chirurg</p>
        <p class="content">dr Krzysztof Bąkała</p>
      </div>
    </div>
  </div>
</div>

<!-- *********************************************************************************************************** DESCRIPTION-->
<div id="description">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="bigHeader">Gabinet stomatologiczno-ortodontyczny Orto-Vis</p>
        <p class="smallHeader">cieszy się opinią jednego z najlepszych w Łodzi a także bardzo dobrą opinią wśród pacjentów z Polski i całej Europy. </p>
        <p class="content">Profesjonalnie przeprowadzane zabiegi oraz wyspecjalizowany (fachowy) personel sprawia, że wizyty w gabinecie Orto-Vis raz na zawsze zmieniają panujące przekonanie o bolesnym leczeniu zębów. Już podczas (pierwszej) konsultacji nasi pacjenci informowani
          są szczegółowo o przebiegu planowanego leczenia. Najwyższej klasy sprzęt stomatologiczny oraz cyfrowy zestaw do robienia zdjęć RTG - posiadające certyfikaty Unii Europejskiej - używane podczas zabiegów, pozwalają zachować najwyższą jakość przeprowadzonych
          zabiegów.</p>
      </div>
    </div>
  </div>
</div>

<!-- *********************************************************************************************************** CERTIFICATES-->
<div id="certificates">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="slider">
          <a href="/assets/images/cert1_o.jpeg" data-toggle="lightbox" class="thumbnail">
            <img src="/assets/images/cert1_o.jpeg" class="img-responsive">
          </a>
          <a href="/assets/images/cert2_o.jpeg" data-toggle="lightbox" class="thumbnail">
            <img src="/assets/images/cert2_o.jpeg" class="img-responsive">
          </a>
          <a href="/assets/images/cert3_o.jpeg" data-toggle="lightbox" class="thumbnail">
            <img src="/assets/images/cert3_o.jpeg" class="img-responsive">
          </a>
          <a href="/assets/images/cert4_o.jpeg" data-toggle="lightbox" class="thumbnail">
            <img src="/assets/images/cert4_o.jpeg" class="img-responsive">
          </a>
          <a href="/assets/images/cert5_o.jpeg" data-toggle="lightbox" class="thumbnail">
            <img src="/assets/images/cert5_o.jpeg" class="img-responsive">
          </a>
          <a href="/assets/images/cert6_o.jpeg" data-toggle="lightbox" class="thumbnail">
            <img src="/assets/images/cert6_o.jpeg" class="img-responsive">
          </a>
          <a href="/assets/images/cert7_o.jpeg" data-toggle="lightbox" class="thumbnail">
            <img src="/assets/images/cert7_o.jpeg" class="img-responsive">
          </a>
          <a href="/assets/images/cert8_o.jpeg" data-toggle="lightbox" class="thumbnail">
            <img src="/assets/images/cert8_o.jpeg" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- *********************************************************************************************************** CERTIFICATES-->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>Wszelkie prawa zastrzeżone @ Orto-Vis 2015 </p>
      </div>
    </div>
  </div>
</div>
