<!DOCTYPE html>
<div class="ortovis-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <welcome-banner></welcome-banner>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <docplanner-banner></docplanner-banner>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <officehours></officehours>
      </div>
    </div>
  </div>

  <!-- HACK Alpha Bootstrap4's negative horizontal margins do not work correctly  <div class="container-fluid"> -->
  <div class="_container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <services></services>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <specialists></specialists>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <description></description>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <!-- <certificates></certificates> -->
      </div>
    </div>
  </div>
</div>
