<!DOCTYPE html>
<main-carosuel></main-carosuel>

<div id="welcome">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <welcome-banner></welcome-banner>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top_margin">
        <docplanner-banner></docplanner-banner>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <officehours></officehours>
      </div>
    </div>

  </div>
</div>

<services></services>
<specialists></specialists>

<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <description></description>
      </div>
    </div>
  </div>
</div>

<div id="certificates">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <certificates></certificates>
      </div>
    </div>
  </div>
</div>
