<!DOCTYPE html>
<div>
  <div class="slider">
    <a href="/assets/images/cert1_o.jpeg" data-toggle="lightbox" class="thumbnail">
      <img src="/assets/images/cert1_o.jpeg" class="img-responsive">
    </a>
    <a href="/assets/images/cert2_o.jpeg" data-toggle="lightbox" class="thumbnail">
      <img src="/assets/images/cert2_o.jpeg" class="img-responsive">
    </a>
    <a href="/assets/images/cert3_o.jpeg" data-toggle="lightbox" class="thumbnail">
      <img src="/assets/images/cert3_o.jpeg" class="img-responsive">
    </a>
    <a href="/assets/images/cert4_o.jpeg" data-toggle="lightbox" class="thumbnail">
      <img src="/assets/images/cert4_o.jpeg" class="img-responsive">
    </a>
    <a href="/assets/images/cert5_o.jpeg" data-toggle="lightbox" class="thumbnail">
      <img src="/assets/images/cert5_o.jpeg" class="img-responsive">
    </a>
    <a href="/assets/images/cert6_o.jpeg" data-toggle="lightbox" class="thumbnail">
      <img src="/assets/images/cert6_o.jpeg" class="img-responsive">
    </a>
    <a href="/assets/images/cert7_o.jpeg" data-toggle="lightbox" class="thumbnail">
      <img src="/assets/images/cert7_o.jpeg" class="img-responsive">
    </a>
    <a href="/assets/images/cert8_o.jpeg" data-toggle="lightbox" class="thumbnail">
      <img src="/assets/images/cert8_o.jpeg" class="img-responsive">
    </a>
  </div>
</div>
