<!DOCTYPE html>
<div class="ortovis-container ortovis-container--inverse ortovis-container--text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="service-banner">
          <img class="img-fluid img-circle" src="./images/services/orthodontics.png">
          <p class="ortovis-lead text-uppercase">Ortodoncja</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="service-banner">
          <img class="img-fluid img-circle" src="./images/services/prosthetics.png">
          <p class="ortovis-lead text-uppercase">Protetyka</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="service-banner">
          <img class="img-fluid img-circle" src="./images/services/dentistry.png">
          <p class="ortovis-lead text-uppercase">Stomatologia</p>
        </div>
      </div>
    </div>
  </div>
</div>
