<!DOCTYPE html>
<div id="services-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img class="img-responsive img-circle" src="/assets/images/ortodoncja_2.png">
        <p class="title">ORTODONCJA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img class="img-responsive img-circle" src="/assets/images/protetyka_2.png">
        <p class="title">PROTETYKA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img class="img-responsive img-circle" src="/assets/images/stomatologia_2.png">
        <p class="title">STOMATOLOGIA</p>
      </div>
    </div>
  </div>
</div>
