<!DOCTYPE html>
<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <p class="ortovis-heading ortovis-heading__title">Stomatologia</p>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="text-uppercase">Wybielanie zębów metodą nakładkową i jednowizytową</a>
          <div id="collapseOne" class="panel-collapse collapse in">
            <p>Stomatologiczne wybielanie zębów w zależności od metody przeprowadzania może przynieść widoczne efekty już po pierwszym zabiegu!</p>
            <strong>Wybielanie nakładkowe:</strong>
            <ul>
              <li>
                Wybielanie nakładkowe jest bezpieczną metodą poprawienia walorów kosmetycznych zębów. Przy zabiegu stosuje się nadtlenek karbamidu – bezpieczny związek chemiczny, który nie narusza właściwej struktury zęba. Efekty wybielania nakładkowego widoczne są nawet
                do 2 lat po przeprowadzeniu leczenia!
              </li>
            </ul>
            <strong>Metoda jednowizytowa:</strong>
            <ul>
              <li>
                Jednowizytowe wybielanie zębów proponowane przez nasz gabinet stomatologiczny pozwala na poprawienie kolorytu zębów w najkrótszym czasie. Podczas wizyty nakładany zostaje żel wybielający, który juz w ciągu 12 godzin od wizyty widocznie poprawi koloryt
                zębów!
              </li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="text-uppercase">Stomatologia estetyczna</a>
          <div id="collapseTwo" class="panel-collapse collapse">
            <ul>
              <strong>Stomatologia estetyczna – poprawa kształtu zębów</strong>
            </ul>
            <ul>
              <strong>Higiena i profilaktyka jamy ustnej:</strong>
              <li>Scanning</li>
              <li>Piaskowanie</li>
              <li>Fluoryzacja</li>
              <li>Lakowanie zębów</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
