<!DOCTYPE html>
<div>
  <p class="ortovis-heading ortovis-heading--lead">Gabinet stomatologiczno-ortodontyczny Orto-Vis</p>
  <p class="ortovis-heading ortovis-heading--small">cieszy się opinią jednego z najlepszych w Łodzi a także bardzo dobrą opinią wśród pacjentów z Polski i całej Europy. </p>
  <p>
    Profesjonalnie przeprowadzane zabiegi oraz wyspecjalizowany (fachowy) personel sprawia, że wizyty w gabinecie Orto-Vis raz na zawsze zmieniają panujące przekonanie o bolesnym leczeniu zębów. Już podczas (pierwszej) konsultacji nasi pacjenci informowani
    są szczegółowo o przebiegu planowanego leczenia. Najwyższej klasy sprzęt stomatologiczny oraz cyfrowy zestaw do robienia zdjęć RTG - posiadające certyfikaty Unii Europejskiej - używane podczas zabiegów, pozwalają zachować najwyższą jakość przeprowadzonych
    zabiegów.
  </p>
</div>
