@import "~common/styles/variables";

.ortovis-carousel {
  position: relative;
  text-shadow: 1px 1px 3px $gray-dark;

  & img {
    max-height: 550px;
  }

  &__title-bar {
    position: absolute;
    bottom: 0;
    z-index: 1;

    width: 100%;
    height: 75px;

    padding: 0 3%;
    color: $gray-lighter;

    background-color: rgba(0, 0, 0, 0.5);

    animation: fadeIn 1s;

    & .logo {
      float: left;
      margin-top: -60px;
      overflow: hidden;
      width: 125px;
      min-width: 75px;
      & > img {
        width: 100%;
        opacity: 0.9;
      }
    }

    & > .title {
      opacity: 0.75;
      text-align: center;
      margin-top: -4rem;
      float: left;
      & .lead {
        font-size: 3rem;
        text-shadow: 1px 1px 3px $gray-dark;
        display: block;
      }
    }
  }

  &__side-bar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    animation: slideInRight 0.5s;

    padding: 15px;

    height: 100%;
    width: 25%;

    color: $gray-lighter;
    background-color: rgba(0, 0, 0, 0.5);
    & > .docplanner {
      position: absolute;
      z-index: 5;
      bottom: 10px;
    }
  }
}


.ortovis-officehours-table {
  width: 100%;
  & td {
    padding: 0 10px;
  }
}
