<!DOCTYPE html>
<div id="orthodontics">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="bigHeader">Ortodoncja</p>
        <p class="content">Ortodoncja zazwyczaj kojarzona jest z długotrwałym procesem poprawy zgryzu i jego estetyką. Usługi ortodontyczne wykonywane przez gabinet Orto-Vis, dzięki zastosowaniu najnowszych technik, skracają ten czas do minimum. Zapraszamy na konsultacje,
          podczas których nasi specjaliści przedstawią proces wykonywania zabiegu i przebiegu leczenia oraz podadzą przybliżony czas jego realizacji.</p>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                  LECZENIE ORTODONTYCZNE APARATAMI STAŁYMI ORAZ RUCHOMYMI DZIECI I DOROSŁYCH
                              </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="content">
                  <p>Ortodoncja jest szeregiem zabiegów polegających na ustawieniu zębów w sposób umożliwiający prawidłowy zgryz. </p>
                  <ul>
                    <strong>Ortodoncja obejmuje:</strong>
                    <li>wykorzystywanie prostych ćwiczeń wykonywanych przez Pacjenta.</li>
                    <li>wykorzystywanie aparatów ortodontycznych.</li>
                  </ul>

                  <ul>
                    <strong>Stałe aparaty ortodontyczne pozwalają na precyzyjne przesuwanie zębów, korygowanie obrotów i stłoczeń.</strong>
                    <li>Aparaty metalowe</li>
                    <li>Aparaty estetyczne</li>
                    <li>Aparaty mieszane</li>
                  </ul>

                  <p>Najczęściej na ortodoncję ukierunkowane są dzieci w wieku 8-12 lat, jednak współczesne metody leczenia ortodontycznego pozwalają także na korygowanie wad u osób dorosłych.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                DZIECI
                              </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse ">
              <div class="panel-body">
                <div class="content">
                  <ul>
                    <li>asymetria rysów twarzy</li>
                    <li>wada wymowy</li>
                    <li>oddychanie ustami</li>
                    <li>dysfunkcja języka</li>
                    <li>przedwczesna utrata zębów mlecznych</li>
                    <li>nadmiernie wysunięty lub cofnięty podbródek</li>
                    <li>szpary między zębami, nienaturalne ułożenie zębów</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                DOROŚLI
                              </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="content">
                  <ul>
                    <li>zgrzytanie zębami</li>
                    <li>ścieranie zębów</li>
                    <li>odsłonięte szyjki zębowe</li>
                    <li>nadmierny kamień zębowy</li>
                    <li>nienaturalny układ zębów</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
