<!DOCTYPE html>
<div class="ortovis-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <p class="ortovis-heading ortovis-heading__title">Ortodoncja</p>
        <p>
          Ortodoncja zazwyczaj kojarzona jest z długotrwałym procesem poprawy zgryzu i jego estetyką. Usługi ortodontyczne wykonywane przez gabinet Orto-Vis, dzięki zastosowaniu najnowszych technik, skracają ten czas do minimum. Zapraszamy na konsultacje, podczas
          których nasi specjaliści przedstawią proces wykonywania zabiegu i przebiegu leczenia oraz podadzą przybliżony czas jego realizacji.
        </p>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="text-uppercase">Leczenie ortodontyczne aparatami stałymi oraz ruchomymi dzieci i dorosłych</a>
            <div id="collapseOne" class="panel-collapse collapse in">
              <p>Ortodoncja jest szeregiem zabiegów polegających na ustawieniu zębów w sposób umożliwiający prawidłowy zgryz.</p>
              <strong>Ortodoncja obejmuje:</strong>
              <ul>
                <li>wykorzystywanie prostych ćwiczeń wykonywanych przez Pacjenta.</li>
                <li>wykorzystywanie aparatów ortodontycznych.</li>
              </ul>
              <strong>Stałe aparaty ortodontyczne pozwalają na precyzyjne przesuwanie zębów, korygowanie obrotów i stłoczeń.</strong>
              <ul>
                <li>Aparaty metalowe</li>
                <li>Aparaty estetyczne</li>
                <li>Aparaty mieszane</li>
              </ul>
              <p>Najczęściej na ortodoncję ukierunkowane są dzieci w wieku 8-12 lat, jednak współczesne metody leczenia ortodontycznego pozwalają także na korygowanie wad u osób dorosłych.</p>
            </div>
          </div>

          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="text-uppercase">Dzieci</a>
            <div id="collapseTwo" class="panel-collapse collapse ">
              <ul>
                <li>asymetria rysów twarzy</li>
                <li>wada wymowy</li>
                <li>oddychanie ustami</li>
                <li>dysfunkcja języka</li>
                <li>przedwczesna utrata zębów mlecznych</li>
                <li>nadmiernie wysunięty lub cofnięty podbródek</li>
                <li>szpary między zębami, nienaturalne ułożenie zębów</li>
              </ul>
            </div>
          </div>

          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="text-uppercase">Dorośli</a>
            <div id="collapseThree" class="panel-collapse collapse">
              <ul>
                <li>zgrzytanie zębami</li>
                <li>ścieranie zębów</li>
                <li>odsłonięte szyjki zębowe</li>
                <li>nadmierny kamień zębowy</li>
                <li>nienaturalny układ zębów</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
