<!DOCTYPE html>
<div class="ortovis-content">
  <div class="ortovis-container-heading ortovis-container-heading--inverse ortovis-container-heading--text-center">
    <span class="ortovis-heading ortovis-heading__title">Wyleczeni Pacjenci</span>
  </div>

  <div class="ortovis-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="ortovis-curedpatient">
            <div class="row">
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/after.jpg">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/after.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="ortovis-curedpatient">
            <div class="row">
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/after.jpg">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/after.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="ortovis-curedpatient">
            <div class="row">
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/after.jpg">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/after.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="ortovis-curedpatient">
            <div class="row">
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/after.jpg">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/after.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="ortovis-curedpatient">
            <div class="row">
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/after.jpg">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/after.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="ortovis-curedpatient">
            <div class="row">
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/after.jpg">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/after.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="ortovis-curedpatient">
            <div class="row">
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/after.jpg">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/after.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="ortovis-curedpatient">
            <div class="row">
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/after.jpg">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/after.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="ortovis-curedpatient">
            <div class="row">
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/after.jpg">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/after.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="ortovis-curedpatient">
            <div class="row">
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/after.jpg">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/after.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="ortovis-curedpatient">
            <div class="row">
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/after.jpg">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/after.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="ortovis-curedpatient">
            <div class="row">
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/after.jpg">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/after.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="ortovis-curedpatient">
            <div class="row">
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/after.jpg">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/after.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="ortovis-curedpatient">
            <div class="row">
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/closed/after.jpg">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/before.jpg">
                  <img class="img-fluid" src="/assets/images/curedpatients/1/open/after.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
