<!DOCTYPE html>
<div id="patients" class="images">
  <p class="header">Wyleczeni Pacjenci</p>
  <div class="container">

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent01before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent01after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent02before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent03after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent03before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent03after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent04before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent04after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent05before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent05after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent06before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent06after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent07before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent07after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent08before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent08after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent09before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent09after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent10before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent10after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent11before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent11after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent12before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent12after.jpg" class="img-responsive">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent13before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent13after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent14before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent14after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent15before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent15after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent16before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent16after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent17before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent17after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent18before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent18after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent19before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent19after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent20before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent20after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent21before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent21after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent22before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent22after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent23before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent23after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent24before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent24after.jpg" class="img-responsive">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent25before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent25after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent26before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent26after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent27before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent27after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="/assets/images/patients/pacjent28before.jpg" class="img-responsive">
          <img src="/assets/images/patients/pacjent28after.jpg" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
</div>
