<!DOCTYPE html>
<div class="ortovis-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <p class="ortovis-heading ortovis-heading__title">Protetyka</p>
        <p>Protetyka ma za zadanie przywrócić blask Państwa uśmiechu. Protetyka pozwala na ukrycie niedoskonałości, dzięki czemu nabiorą Państwo pewności siebie oraz swobody w kontaktach międzyludzkich.</p>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="text-uppercase">KORONY NA BAZIE CYRKONU, PEŁNO CERAMICZNE, LICÓWKI I MOSTY</a>
            <div id="collapseOne" class="panel-collapse collapse in">
              <p>Korony umożliwiają przywrócenie prawidłowych kształtów i wielkości zębów w przypadku znacznego zniszczenia tkanek twardych, ich starcia, lub w przypadku niezadowalających walorów estetycznych.</p>
              <strong>Korony na bazie cyrkonu</strong>
              <ul>
                <li>
                  Korony na bazie cyrkonu (tlenek cyrkonu) są całkowicie naturalne – nie wywołują alergii oraz nie są przyczyną stomatopatii protetycznych. Dodatkowo korony te są doskonałym izolatorem termicznym, co pozwala uniknąć dyskomfortu związanego ze zmianą temperatury
                  w jamie ustnej.
                </li>
              </ul>
              <strong>Korony pełno ceramiczne</strong>
              <ul>
                <li>
                  Korony pełno ceramiczne dzięki wykorzystaniu napalonej warstwowo porcelany (bez elementów metalowych) pozwalają zachować bardzo dobre efekty kosmetyczne.
                </li>
              </ul>

              <strong>Licówki</strong>
              <ul>
                <li>
                  Licówki pozwalają na poprawę estetyki zębów, w tym: koloru, kształtu, oraz, w niektórych przypadkach, ustawienia zębów.
                </li>
              </ul>
              <strong>Mosty</strong>
              <ul>
                <li>
                  Mosty są stałymi uzupełnieniami protetycznymi. Sposób wkomponowania mostów pozwala pacjentowi na szybkie przyzwyczajenie się do tego typu uzupełnienia protetycznego.
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
