<!DOCTYPE html>
<div id="prosthetics">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="bigHeader">Protetyka</p>
        <p class="content">Protetyka ma za zadanie przywrócić blask Państwa uśmiechu. Protetyka pozwala na ukrycie niedoskonałości, dzięki czemu nabiorą Państwo pewności siebie oraz swobody w kontaktach międzyludzkich.</p>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                  KORONY NA BAZIE CYRKONU, PEŁNO CERAMICZNE, LICÓWKI I MOSTY
                              </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="content">
                  <p>Korony umożliwiają przywrócenie prawidłowych kształtów i wielkości zębów w przypadku znacznego zniszczenia tkanek twardych, ich starcia, lub w przypadku niezadowalających walorów estetycznych.</p>
                  <ul>
                    <strong>Korony na bazie cyrkonu</strong>
                    <li>Korony na bazie cyrkonu (tlenek cyrkonu) są całkowicie naturalne – nie wywołują alergii oraz nie są przyczyną stomatopatii protetycznych. Dodatkowo korony te są doskonałym izolatorem termicznym, co pozwala uniknąć dyskomfortu związanego
                      ze zmianą temperatury w jamie ustnej</li>
                  </ul>

                  <ul>
                    <strong>Korony pełno ceramiczne</strong>
                    <li>Korony pełno ceramiczne dzięki wykorzystaniu napalonej warstwowo porcelany (bez elementów metalowych) pozwalają zachować bardzo dobre efekty kosmetyczne.</li>
                  </ul>

                  <ul>
                    <strong>Licówki</strong>
                    <li>Licówki pozwalają na poprawę estetyki zębów, w tym: koloru, kształtu, oraz, w niektórych przypadkach, ustawienia zębów.</li>
                  </ul>
                  <ul>
                    <strong>Mosty</strong>
                    <li>Mosty są stałymi uzupełnieniami protetycznymi. Sposób wkomponowania mostów pozwala pacjentowi na szybkie przyzwyczajenie się do tego typu uzupełnienia protetycznego.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- *********************************************************************************************************** IMAGES-->
<div class="images">
  <p class="header">Wyleczeni Pacjenci</p>
  <div class="container">

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="img/patients/pacjent01before.jpg" class="img-responsive">
          <img src="img/patients/pacjent01after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="img/patients/pacjent02before.jpg" class="img-responsive">
          <img src="img/patients/pacjent03after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="img/patients/pacjent03before.jpg" class="img-responsive">
          <img src="img/patients/pacjent03after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="img/patients/pacjent04before.jpg" class="img-responsive">
          <img src="img/patients/pacjent04after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="img/patients/pacjent05before.jpg" class="img-responsive">
          <img src="img/patients/pacjent05after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="img/patients/pacjent06before.jpg" class="img-responsive">
          <img src="img/patients/pacjent06after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="img/patients/pacjent07before.jpg" class="img-responsive">
          <img src="img/patients/pacjent07after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="img/patients/pacjent08before.jpg" class="img-responsive">
          <img src="img/patients/pacjent08after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="img/patients/pacjent09before.jpg" class="img-responsive">
          <img src="img/patients/pacjent09after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="img/patients/pacjent10before.jpg" class="img-responsive">
          <img src="img/patients/pacjent10after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="img/patients/pacjent11before.jpg" class="img-responsive">
          <img src="img/patients/pacjent11after.jpg" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" class="image">
          <img src="img/patients/pacjent12before.jpg" class="img-responsive">
          <img src="img/patients/pacjent12after.jpg" class="img-responsive">
        </a>
      </div>
    </div>

  </div>
</div>
