@import "~common/styles/variables";
@import "~common/styles/mixins";


.ortovis-curedpatient {
  margin: 2.5%;
  box-shadow: 1px 1px 7px darken($gray-lighter, 5%);
  overflow: hidden;

  & img {
    padding: 3px;
    border: 1px solid darken($gray-lighter, 5%);
  }
  &__image {
    position: relative;
    float: left;
    width: 50%;

    & img {
      @include whiten(0%);
      object-fit: contain;
      object-position: center;
    }
    & img:last-child {
      position: absolute;
      top: 0;
      opacity: 0;
    }
    & img:last-child:hover {
      @include whiten(100%);
      transition-duration: 0.5s;
      opacity: 1;
    }
  }
}
