@import "~common/styles/variables";
@import "~common/styles/mixins";


.ortovis-curedpatient {
  margin: 2.5%;
  box-shadow: 1px 1px 7px lighten($gray-light, 25%);

  & img {
    padding: 3px;
    border: 1px solid darken($gray-lighter, 5%);
  }
  & > .row {
    margin-right: 0;
    margin-left: 0;
    & > [class^="col-"], & > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
  &__image {
    position: relative;

    & img {
      @include grayscale(75%);
    }
    & img:last-child {
      position: absolute;
      top: 0;
      opacity: 0;
    }
    & img:last-child:hover {
      transition-duration: 0.5s;
      opacity: 1;
      @include grayscale(0%);
    }
  }
}
