@import "~common/styles/variables";

.ortovis-certificates {
  padding: 10px;
  text-align: center;

  &__image {
    margin: 5px;
    height: 200px;
  }
}

.ortovis-certificates-modal {
  // overflow-y: scroll;
  &__dialog {
    text-align: center;
    // min-width: 25%;
    animation: zoomIn 0.25s;

  }
  &__image {
    max-width: 100%;
    max-height: 90vh;
  }
}
