<!DOCTYPE html>
<div class="ortovis-content">
  <div style="margin-top:-25px" class="ortovis-container-heading ortovis-container-heading--inverse ortovis-container-heading--text-center">
    <span class="ortovis-heading ortovis-heading__title">Wyleczeni Pacjenci</span>
  </div>

  <div class="ortovis-container ortovis-curtain">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">

          <div class="ortovis-curedpatient">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/1/closed/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/1/closed/after_thumbnail.jpg">
                </div>
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/1/open/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/1/open/after_thumbnail.jpg">
                </div>
          </div>

          <div class="ortovis-curedpatient">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/2/closed/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/2/closed/after_thumbnail.jpg">
                </div>
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/2/open/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/2/open/after_thumbnail.jpg">
                </div>
          </div>

          <div class="ortovis-curedpatient">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/3/closed/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/3/closed/after_thumbnail.jpg">
                </div>
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/3/open/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/3/open/after_thumbnail.jpg">
                </div>
          </div>

          <div class="ortovis-curedpatient">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/4/closed/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/4/closed/after_thumbnail.jpg">
                </div>
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/4/open/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/4/open/after_thumbnail.jpg">
                </div>
          </div>

          <div class="ortovis-curedpatient">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/5/closed/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/5/closed/after_thumbnail.jpg">
                </div>
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/5/open/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/5/open/after_thumbnail.jpg">
                </div>
          </div>

          <div class="ortovis-curedpatient">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/6/closed/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/6/closed/after_thumbnail.jpg">
                </div>
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/6/open/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/6/open/after_thumbnail.jpg">
                </div>
          </div>

        </div>
        <div class="col-sm-6">

          <div class="ortovis-curedpatient">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/7/closed/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/7/closed/after_thumbnail.jpg">
                </div>
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/7/open/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/7/open/after_thumbnail.jpg">
                </div>
          </div>

          <div class="ortovis-curedpatient">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/8/closed/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/8/closed/after_thumbnail.jpg">
                </div>
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/8/open/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/8/open/after_thumbnail.jpg">
                </div>
          </div>

          <div class="ortovis-curedpatient">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/9/closed/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/9/closed/after_thumbnail.jpg">
                </div>
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/9/open/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/9/open/after_thumbnail.jpg">
                </div>
          </div>

          <div class="ortovis-curedpatient">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/10/closed/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/10/closed/after_thumbnail.jpg">
                </div>
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/10/open/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/10/open/after_thumbnail.jpg">
                </div>
          </div>

          <div class="ortovis-curedpatient">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/11/closed/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/11/closed/after_thumbnail.jpg">
                </div>
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/11/open/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/11/open/after_thumbnail.jpg">
                </div>
          </div>

          <div class="ortovis-curedpatient">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/12/closed/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/12/closed/after_thumbnail.jpg">
                </div>
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/12/open/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/12/open/after_thumbnail.jpg">
                </div>
          </div>

        </div>
      </div>
    </div>
  </div>
