<!DOCTYPE html>
<div>
  <p class="ortovis-heading ortovis-heading__title">Serdecznie witamy</p>
  <p class="ortovis-heading ortovis-heading__lead">zapraszamy do gabinetu Orto-Vis przy ul. Kościuszki 48</p>
  <p>
    Od prawie 20 lat dbamy o państwa uśmiech stomatologicznie, protetycznie i ortodontycznie. Gabinety wyposażone są w sprzęt diagnostyczno-radiologiczny najnowszej generacji. Nad pacjentami czuwa trzech lekarzy: ortodonta i protetyk od stomatologii estetycznej,
    współpracujący z implantologiem oraz chirurg. Naszym celem jest zapewnienie państwu kompleksowej opieki.
  </p>
</div>
