<!DOCTYPE html>
<div class="ortovis-content">
  <div style="margin-top:-25px" class="ortovis-container-heading ortovis-container-heading--inverse ortovis-container-heading--text-center">
    <span class="ortovis-heading ortovis-heading__title">Wyleczeni Pacjenci - protetycznie</span>
  </div>

  <div class="ortovis-container ortovis-curtain">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">

          <div class="ortovis-curedpatient">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/1/closed/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/1/closed/after_thumbnail.jpg">
                </div>
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/1/open/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/1/open/after_thumbnail.jpg">
                </div>
          </div>

          <div class="ortovis-curedpatient">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/2/closed/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/2/closed/after_thumbnail.jpg">
                </div>
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/2/open/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/2/open/after_thumbnail.jpg">
                </div>
          </div>

          <div class="ortovis-curedpatient">
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/3/closed/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/3/closed/after_thumbnail.jpg">
                </div>
                <div class="ortovis-curedpatient__image">
                  <img class="img-fluid" src="./images/curedpatients/3/open/before_thumbnail.jpg">
                  <img class="img-fluid" src="./images/curedpatients/3/open/after_thumbnail.jpg">
                </div>
          </div>

        </div>
        <div class="col-sm-6">

            <div class="ortovis-curedpatient">
                  <div class="ortovis-curedpatient__image">
                    <img class="img-fluid" src="./images/curedpatients/4/closed/before_thumbnail.jpg">
                    <img class="img-fluid" src="./images/curedpatients/4/closed/after_thumbnail.jpg">
                  </div>
                  <div class="ortovis-curedpatient__image">
                    <img class="img-fluid" src="./images/curedpatients/4/open/before_thumbnail.jpg">
                    <img class="img-fluid" src="./images/curedpatients/4/open/after_thumbnail.jpg">
                  </div>
            </div>

            <div class="ortovis-curedpatient">
                  <div class="ortovis-curedpatient__image">
                    <img class="img-fluid" src="./images/curedpatients/5/closed/before_thumbnail.jpg">
                    <img class="img-fluid" src="./images/curedpatients/5/closed/after_thumbnail.jpg">
                  </div>
                  <div class="ortovis-curedpatient__image">
                    <img class="img-fluid" src="./images/curedpatients/5/open/before_thumbnail.jpg">
                    <img class="img-fluid" src="./images/curedpatients/5/open/after_thumbnail.jpg">
                  </div>
            </div>

        </div>
      </div>
    </div>
  </div>
